.chat-room {
    background-color: black;
    overflow-y: hidden;
}

.chat-box {
    position: absolute;
    bottom: 0;
    padding: 15px;
    width: calc(100% - 15px)
}

.input [type=text] {
    height: 45px;
    font-size: 18px;
    padding: 8px;
}

// .btn {
//     height: 45px;
// }
